header .logo {
    min-height: 1.5em;
    height: 3.5em;
    vertical-align: text-bottom;
}

#header-desktop {
    height: 5em;
    line-height: 2.5em;
}

#header-mobile {
    height: 5em;
    line-height: 2.5em;
}

.home .home-profile .home-title {
    font-size: 2rem;
}

.home .home-profile .home-subtitle {
    text-align: left;
    font-size: larger;
}

.home-recent {
    text-align: center;
    font-size: 1.05em;
}