<a href="https://homepage.vukilis.com" target="_blank"><span>ʜᴏᴍᴇʟᴀʙ: </span></a><span id="status-indicator" style="display: inline-block; width: 12px; height: 12px; border-radius: 50%; background-color: gray;"></span>
<span id="status-text">Checking...</span>

<!-- <script src="/js/status-check.js"></script> -->

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const indicator = document.getElementById("status-indicator");
        const text = document.getElementById("status-text");
    
        if (!indicator || !text) {
            console.log("Missing status elements.")
            return;
        }
    
        function checkStatus() {
            const response = fetch("https://homepage.vukilis.com", {
            method: "HEAD", mode: 'no-cors', 
            })
            .then(() => {
                indicator.style.backgroundColor = "green";
                text.textContent = "Online";
                text.style.color = "green";
            })
            .catch((error) => {
                console.log("Error checking status:", error);
                indicator.style.backgroundColor = "red";
                text.textContent = "Offline";
                text.style.color = "red";
            })
        }
    
      checkStatus(); // initial check
      setInterval(checkStatus, 30000); // repeat every 30 seconds
    })
</script>